.head-button button {
    background-color: black;
    color: #ffc62a;
    border-color: #ffc62a;
    margin: 8px;
  }
.head-button button:hover {
    background-color: #ffc62a;
    color: black;
    border-color: black;
  }.buttons-row {
    margin-bottom: 20px;
  }
  
  .buttons-row button {
    margin-right: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #ffc62a;
    color: black;
    font-size: 14px;
    cursor: pointer;
  }
  
  .buttons-row button.active {
    background-color: black;
    color: #ffc62a;
  }
  
  .buttons-row button:hover {
    background-color: black;
    color: #ffc62a;
  }
  
